
<div class="container-fluid">
     <h1>Enrollment Form</h1>

  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate  >

       <div class="form-group">
             <label>Name</label>
                   <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                   class="form-control" name="username" [(ngModel)]="userModel.name"/>
                   <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
       </div>


       <div class="form-group">
            <label>Email</label>
                 <input type="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                 class="form-control" name="email" [(ngModel)]="userModel.email"/>
                 <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
     </div>

      <div class="form-group">
          <label>Phone</label>
                 <input type="tel"  #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched"
                 class="form-control"  required name="Phone" [(ngModel)]="userModel.phone"/>
                 <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                   <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
                   <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
                 </div>
     </div>


    <div class="form-group">

         <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" class="custom-select"
          #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" name="topic"  [(ngModel)]="userModel.topic">
                 <option value="default">Interested in </option>
                        <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select a topic</small>

    </div>
<div class="mb-3">
<label>Time Preference</label>
<div class="form-check">
<input class="form-chech-input" type="radio" name="timePreference" #timePreference value="morning" [(ngModel)]="userModel.timePreference"/>
<label class="form-check-label">morning</label>
</div>
<div class="form-check">
<input class="form-chech-input" type="radio" name="timePreference" #timePreference value="evening" [(ngModel)]="userModel.timePreference"/>
<label class="form-check-label">evening</label>
</div>
</div>
<div class="form-check mb-3">
  <input class="form-check-input" type="checkbox" name="offers" #offers [(ngModel)]="userModel.offers"/>
  <label class="form-check-label">Send me offers</label><br/><br/>
</div>
<button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-md btn-primary" type="Submit" (click)="openModal(template)">Submit</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Submit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Submitted the form
    </div>
</ng-template>
  </form>
</div>
<div class="form form-inline">
  <div *ngFor="let filterItem of filterItems; let i = index;" class="form-check" style="padding-right:20px;">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="filterItem.checked" [value]="filterItem.value"> Value {{ i + 1 }}
    </label>
  </div>
</div>

<pre>Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;">{{ filterItem.value }}</span></pre>
